<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isLoggedIn()==true && getRole()=='Manager'">
          <a class="nav-link" routerLink="view-http-employee">View Employee:</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==false">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()==true">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
